.brand {
  display: inline-block;
  margin-left: 12px;
  padding-top: 0px;
  float: right;
  font-family: Inconsolata, monospace;
  color: #2ecc71;
  line-height: 38px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
}

.nav-links {
  margin-top: 40px;
  float: right;
}

.nav-link {
  margin: 20px 15px 10px;
  padding: 0px 0px 5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  padding-left: 0px;
  border-top: 1px none #17624b;
  border-bottom: 3px none #000;
  color: #2ecc71;
}

.nav-link.w--current {
  color: #000;
  text-decoration: underline;
}

.nav-link.blog-link {
  color: #2ecc71;
}

.nav-link.blog-link:hover {
  border-bottom-color: #17624b;
  color: #17624b;
}

.greeting {
  position: relative;
  height: 100%;
  margin-top: 0%;
}

.greeting-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  line-height: 80px;
  text-align: left;
}

.student {
  color: #17624b;
}

.name-span {
  color: #f48059;
}

.building-product {
  color: #17624b;
}

.new-tech {
  color: #17624b;
}

.legend-photo {
  height: 500px;
  background-image: url('../images/2016-03-02-10.28.08-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.ava {
  width: 100%;
  margin-top: -37px;
}

.ava-container {
  position: static;
  display: block;
  overflow: visible;
  height: 400px;
  background-image: url('../images/avatar.jpg');
  background-position: 50% 27%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section.after-first-section {
  margin-top: 0px;
}

.section.experience {
  padding-top: 40px;
  padding-bottom: 40px;
}

.brief-description {
  position: relative;
  left: 0px;
  top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

.about {
  padding-right: 30px;
  font-size: 38px;
  line-height: 33px;
  font-weight: 700;
  text-align: left;
}

.about-parallax {
  position: relative;
}

.body {
  height: 100%;
  max-height: 100%;
  background-color: #f5f5f5;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #0a0a0a;
}

.big-text {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 100px;
  line-height: 103px;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
  border-bottom: 1px none #000;
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .54);
}

.navbar.navbar-inner {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
}

.social {
  position: static;
  left: 0px;
  right: 0px;
  bottom: -75px;
  margin-top: 0px;
  text-align: center;
}

.social.social-nav {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  float: right;
  text-align: center;
}

.social-link {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.blue {
  color: #000;
  font-weight: 700;
}

.brief {
  margin-top: 40px;
  font-family: Inconsolata, monospace;
  font-size: 18px;
}

.link {
  font-family: Inconsolata, monospace;
  color: #0a0a0a;
  font-size: 17px;
}

.link.lklk {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: left;
  color: hsla(0, 0%, 4%, .5);
  text-align: center;
}

.link.mail {
  margin-right: 20px;
}

.quote {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.brief-container {
  margin-top: 20%;
}

.p {
  font-family: Inconsolata, monospace;
}

.p.brand-p {
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 23px;
}

.skill {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 25px;
  padding-left: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.skill.skill-1.skill-11 {
  margin-left: 109px;
}

.skill-1.skill {
  margin-left: 59px;
  color: rgba(51, 51, 51, .85);
}

.skill-2.skill {
  color: rgba(51, 51, 51, .75);
}

.li {
  margin-left: 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.h4 {
  margin-bottom: 0px;
}

.what-else {
  margin-top: 56px;
}

.nav-menu {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-inner {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
}

.footer {
  margin-top: 84px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px none #000;
  border-bottom: 1px none #000;
  color: rgba(0, 0, 0, .53);
}

.ror {
  font-size: 20px;
  font-weight: 600;
}

.certificate {
  margin-top: 36px;
}

.navbar-still {
  display: block;
  background-color: transparent;
}

.brand-h {
  margin-top: 0px;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: Inconsolata, monospace;
  font-size: 25px;
  font-weight: 400;
}

.travel-img {
  padding-left: 60px;
}

.container {
  position: relative;
}

.button {
  display: inline-block;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 #000;
  font-family: Inconsolata, monospace;
  color: #000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.the-price {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.kjjl {
  color: rgba(51, 51, 51, .49);
}

.nav-menu-hide {
  float: left;
}

.headline {
  margin-top: 81px;
  margin-bottom: 60px;
  font-size: 90px;
}

.san {
  font-family: 'Open Sans', sans-serif;
}

.menu {
  float: right;
}

.arrow {
  position: static;
  display: none;
  margin: 0px;
  padding-top: 24px;
  padding-bottom: 0px;
  padding-left: 15px;
  float: none;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: hsla(0, 0%, 4%, .7);
  font-size: 30px;
  line-height: 36px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 0px;
}

.right-arrow {
  float: right;
}

.container-headline {
  display: inline-block;
  width: 66%;
}

.scroll-down {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 7%;
  display: block;
  overflow: visible;
  margin-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  text-align: center;
}

.span {
  display: block;
  padding-left: 0px;
  font-family: Pacifico, sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 100;
}

.arrow-container {
  display: inline-block;
  overflow: hidden;
}

.arrow-img {
  opacity: 0.5;
}

html.w-mod-js *[data-ix="fade-in-when-load"] {
  display: block;
  opacity: 0;
  -webkit-transform: translate(0px, -30px);
  -ms-transform: translate(0px, -30px);
  transform: translate(0px, -30px);
}

html.w-mod-js *[data-ix="fade-in-when-load-2"] {
  display: block;
  opacity: 0;
  -webkit-transform: translate(0px, -30px);
  -ms-transform: translate(0px, -30px);
  transform: translate(0px, -30px);
}

html.w-mod-js *[data-ix="fade-in-when-load-3"] {
  display: block;
  opacity: 0;
  -webkit-transform: translate(0px, -30px);
  -ms-transform: translate(0px, -30px);
  transform: translate(0px, -30px);
}

html.w-mod-js *[data-ix="fade-in-when-load-4"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-when-load-5"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-when-load-6"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

html.w-mod-js *[data-ix="drop-in-when-load"] {
  display: block;
  opacity: 0;
  -webkit-transform: translate(0px, -39px);
  -ms-transform: translate(0px, -39px);
  transform: translate(0px, -39px);
}

html.w-mod-js *[data-ix="drop-in-when-load-2"] {
  display: block;
  opacity: 0;
  -webkit-transform: translate(0px, 35px);
  -ms-transform: translate(0px, 35px);
  transform: translate(0px, 35px);
}

html.w-mod-js *[data-ix="display-none"] {
  display: none;
}

html.w-mod-js *[data-ix="appear-from-left"] {
  opacity: 0;
  -webkit-transform: translate(-83px, 0px);
  -ms-transform: translate(-83px, 0px);
  transform: translate(-83px, 0px);
}

html.w-mod-js *[data-ix="pop-up"] {
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="fade-from-left"] {
  opacity: 0;
  -webkit-transform: translate(-56px, 0px);
  -ms-transform: translate(-56px, 0px);
  transform: translate(-56px, 0px);
}

@media (max-width: 991px) {
  .nav-link {
    text-align: center;
  }
  .greeting {
    margin-top: 0%;
  }
  .big-text {
    font-size: 90px;
    line-height: 80px;
  }
  .social.social-nav {
    float: left;
  }
  .scroll-down {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .greeting {
    margin-top: 0%;
  }
  .section {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .section.after-first-section {
    padding-top: 0px;
  }
  .big-text {
    direction: ltr;
    line-height: 84px;
    text-align: left;
    text-transform: none;
  }
  .navbar {
    display: block;
  }
  .social.social-nav {
    display: block;
    margin-left: 10px;
    float: left;
  }
  .travel-img {
    display: block;
    padding-left: 0px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .menu {
    float: right;
  }
}

@media (max-width: 479px) {
  .big-text {
    margin-top: 20%;
    font-size: 50px;
    line-height: 45px;
  }
  .social-link {
    margin-right: 5px;
    margin-left: 5px;
  }
  .link.mail {
    margin-right: 5px;
  }
}

